/*Add card*/

.form-add-card {
  padding: 25px 45px;
  width: 514px;
  height: 381px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d2cbcb;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-new-card {
  font-size: 20px;
}

.name-field {
  font: normal normal normal 16px/21px Segoe UI;
  margin-right: 46px;
  color: #000000;
}

.name-field-image {
  font: normal normal normal 16px/21px Segoe UI;
  margin-right: 58px;
  color: #000000;
}

.input-data {
  width: 322px;
  height: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
}

.btn-add-card {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  border-top: 1px solid #d9d9d9;
}

.btn-save-add {
  width: 76px;
  height: 43px;
  font-size: 13px;
  color: #ffffff;
  font: normal normal bold 13px/17px Segoe UI;
  margin-right: 20px;
  background: #064ebc 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #00000029; */
  border-radius: 10px;
}

.btn-cancel-add {
  width: 76px;
  height: 43px;
  font-size: 13px;
  color: #ffffff;
  font: normal normal bold 13px/17px Segoe UI;
  background: #d9d9d9 0% 0% no-repeat padding-box;
  /* box-shadow: 0px 3px 6px #00000029; */
  border-radius: 10px;
  opacity: 1;
}

.form-avatar {
  display: flex;
}
.name_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-card-upload {
  margin-left: 11px;
  font-size: 16px;
  position: relative;
  top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 280px;
  white-space: nowrap;
}

.wrap-btn-upload {
  align-items: center;
}
.hr-border {
  background: #d9d9d9;
  height: 1px !important;
  margin: unset !important;
}
